h1 {
  font-family: $playfair;
  font-weight: $bold-italic;
  font-size: $x-large;
}


h2 {
  font-family: $playfair;
  font-weight: $bold-italic;
  font-size: $large;

}

h3,
h4,
h5,
h6 {
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium;
}
