.header {
  background-image: url('../images/post-image.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    text-align: center;
    position: relative;
    top: 40vh;
    font-family: $playfair;
    font-weight: $bold-italic;
    color: $white;
    font-size: $xx-large;
  }
}
